.App {
  width: 70%;
  background:#ecd1f0;
  position: static;
  height: 80vh;

  margin-left: auto;
  margin-right: auto;
  
  position: relative;
  top: 10vh;
}

.time
{
    position: relative;
    display: inline-block;

    border-radius: 10px;
    width: 86%;
    height: 25%;
    background: #ffffff;

    position: relative;
    top: 6%;

    margin-bottom: 3%;
    margin-left: 7%;
    margin-right: 7%;
}

.text_time {
  font-size: large;
  margin: 1%;
}