html
{
    height: 100%;
    min-height: 300px;
    max-height: 300px;
}

body {
    background-color: #dae4e5;
    font-size: 12px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    min-height:100%;

}

.app {
    width: 70vw; 
    background:fefafa;
    height: 100vh;
  
    margin-left: auto;
    margin-right: auto;
    
    position: relative;
    align-items: center;
}

.app_main {
    width: 70vw;
    background:#94c0c2;
    height: 78vh;
  
    margin-left: auto;
    margin-right: auto;
    
    position: relative;
    top: 3vh;
  }
  
.time {
    display: inline-block;
    border-radius: 10px;
    width: 20vw;
    height: 94%;
    background: #dae4e5;

    position: relative;
    top: 3%;
    vertical-align: middle;
      
    margin-left: 2.3%;
    margin-right: 2.3%;
    box-shadow: inset 0 0 0 1px #2b4a4a;
  }

  .time_container {
      display: inline-block;
      background: #dae4e5;
      width: 98%;
      height: 87%;

      margin-left: 1%;

      position: relative;

  
      overflow: auto;
  }

.time_container::-webkit-scrollbar {
    width: 1px;
}
  
.text_time {
    font-size: larger;
    margin: 1%;
    padding-top: 0.5vh;
    padding-bottom: 1.5vh;
    text-align: center;
    font: italic small-caps bold 20px/2 cursive;
    color: #2b4a4a;
  }

.container {
    max-width: 960px;

    display: flex;
    justify-content: center;
    overflow-y: auto;
    overflow-x: hidden;
  }

.med_list { 
    display: inline-block;
    flex-direction: column; 
  }

.med {
    background-color: #94c0c2;
    margin: auto;
    margin-bottom: 10%;
      
    border-radius: 5px;
    padding-right: 0.2rem;
    padding-left: 0.9rem;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    justify-content: space-between;
    width: 15vw;
    border: 1px solid #2b4a4a;

    font: italic small-caps bold 12px/2 cursive;
    color:#2b4a4a;
  }

.med_text {
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 80%;
    font-size: 14px;
    height: 50%;
}

.med_text::-webkit-scrollbar {
  width: 1px;
  height: 2px;
}

.med_text::-webkit-scrollbar-thumb {
  background: #69a4a2;
}

.med_time {
  font-size: 12px;
}

.note_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 5px;
  }

.footer_text {
  font: italic small-caps bold 10px/2 cursive;
  color: #2b4a4a;
}

.note_main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding-bottom: 2vh;
    width: 100%;
    margin-top: 5%;
}

.med.new {
  background-color: #7cbdc9;
}

.note_text {
  display: inline-block;
  flex-direction: column; 
  width: 88%;
  height: 7vh;
}

.add_text_area {
  border: none;
  resize: none;
  background-color: #7cbdc9;
  font: italic small-caps bold 14px cursive;
  color:#2b4a4a;
  height: 5vh;
  width: 90%;
}

.add_text_area:focus {
  outline: none;
}

.add_time {
  display: inline-block;
  flex-direction: row;
  justify-content: space-around;
  overflow: hidden;
}

.time_split {
  height: 3vh;
  text-align: center;
  vertical-align: text-bottom;
}

.add_time_area {
  border: none;
  resize: none;
  background-color: #7cbdc9;
  font: italic small-caps bold 12px cursive;
  color:#2b4a4a;
  height: 3vh;
  width: 25%;
  vertical-align: middle;
  padding-left: 1vh;
  box-shadow: inset 0 0 0 1px #2b4a4a;
}

.add_time_area:focus {
  outline: none;
}

.save_button {
  background-color: #2b4a4a;
  border: none;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  font: italic small-caps bold 12px cursive;
  color: #dae4e5;
}

.save_button:hover {
  background-color: #dae4e5;
  color: #2b4a4a;
  cursor: pointer;
}

.delete_icon {
  cursor: pointer;
}

.edit_icon {
  cursor: pointer;
}

.checkbox_icon {
  cursor: pointer;
}

.icon_box {
  display: inline-block;
  flex-direction: column; 
  width: 2vw;
  padding-right: 0;
  align-items: center;
}

.search {
  display: flex;
  align-items: center;
  background-color: #7cbdc9;
  border-radius: 10px;
  
  padding-top: 7px;
  padding-bottom: 7px;

  width: 100%;
}

.search input {
  border: none;
  background-color: #7cbdc9;
  width: 100%;
  font: italic bold 14px cursive;
  color:  #2b4a4a;
}

.search input:focus {
  outline: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: medium;
}

.page_box {
  background-color:  #94c0c2;
  width: 80vw;
  height: 80vh;
  margin-top: 10vh;
  margin-bottom: 10vh;
  margin-left: 10vw;
  margin-right: 10vw;
  text-align: center;
}

.page_text {
  padding-top: 7%;
  font: small-caps bold 60px cursive;
  color: #2b4a4a;
}

.page_small_text {
  padding-top: 2%;
  font: small-caps bold 40px cursive;
  color: #2b4a4a;
}

.header_text {
  color: #2b4a4a; 
}

.header_link {
  color: #2b4a4a;
  font-size: 20px;
}

.header_link:link {
  text-decoration: underline;
}

.header_link:hover {
  text-decoration: none;
}